.container.about__container{
    display: flex;
    gap: 5rem;
    margin-top: 5rem;
    
}
 
.about__me{
    display: flex;
    flex:50%;
    border-radius :2rem;
    background: linear-gradient(45deg,transparent,var(--color-primary),transparent);
    width: 100%;
    aspect-ratio:1/1;
    height:fit-content;


}
.about__me-image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}
.about__me-image:hover{
    transform: rotate(0);
}
.about__cards{
    display: flex;
    gap: 3rem;
}
.about__card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius:1rem;
    padding: 3rem;
    text-align: center;
    transition: var(--transition);
    margin-bottom: 2rem;
}
.about__card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}