.experience__container{
    display: flex;
    gap: 2rem;
    height: 60%;
}
.experience__card{
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 25%;
    
}
article.experience__details{
    display: flex;
    gap: 1rem;
}
article.experience__details .icon {
    color: var(--color-white);
}

.experience__frontend{
    display: flex;
    flex: 100%;
    flex-direction: column;
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.experience__frontend:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.experience__frontend h3 {
text-align: center;
margin-bottom: 2rem;
color: var(--color-primary);
}
.experience__content{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}